* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {/*Esto elimina los espaciados y pone el tipo de letra*/
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 16px;  
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden; /*Nos permite acomodar el comportamiento de las cajas*/ /*Corta todo lo que sobre a partir de un contenedor*/
}

/* ------- ------- HEADER ------ -------- */

header {
	width: 100%;
	background: url('../img/medalla1920.jpg') #281a0c; /*Nos encontramos en la carpeta css, retrocedemos una carpeta y nos metemos a la carpeta img*/
	background-size: cover;
	background-attachment: fixed; /*Para que el fondo se quede pegada a la pantalla*/ 
}

header .contenedor { /*Para que el contenedor del header sea mas grande y se vea nuestra imagen*/
	position: relative;/*El relative se usa cuando uno quiere mover los elementos*/
	height: 700px; /*Le dimos la altura a nuestro header para que se vea la imagen*/
}

header .menu {
	width: 100%; /*Esto es simplemente para asegurarnos que será el 100% del ancho*/
	text-align: right; /*Para que los elementos se pongan a la derecha*/
}

header .menu a {
	color: black;
	font-size: 20px;
	font-weight: 300;/*Este tamaño viene en el google font que utilizaste*/
	display: inline-block; /*Para que los elementos se pongan uno al lado del otro*/
	margin: 40px 20px;
	text-decoration: none; 
	position: relative; /*Lo utilizaremos para trabajar con Jquery*/
}

header .menu a:hover {
	text-decoration: underline; /*Subraya cuando acercas el mouse a los links*/
}

header .textos {
	width: 100%;
	position: absolute;/*Para trabajar con el efecto pharallasx para que no se mueva*/
	top: 15%; /*La altura del titulo del header*/
}

header .textos .nombres {
	font-size: 50px;
	font-weight: 600;
}

header .textos .nombre span {
	font-weight: 300;
}

header .textos h3 {
	font-weight: 300;
	font-size: 25px;
	font-style: italic;
}

/* ------ ----- MAIN ----- ----- */
.main {
	background: url('../img/sayagata-400px.png');
	background-repeat: repeat;/*Para que funcione en todos los navegadores*/
}

.main .acerca-de .contenedor {
	overflow: visible;/*Para que el contenido sobrante sea visible*/
	position: relative;/*También lo queremos modificar*/ 
}

.main .acerca-de .foto {
	width: 80%; /*El otro 20% lo vamos a usar para la otra parte "acerca de"*/
	position: absolute; /*Para que nuestra foto se quede encima de nuestro fondo*/
	left: 0;
	top: -50px;
	z-index: 0;/*Para que la foto pase por debajo del texto */
	box-shadow: 0px 0px 15px rgba(0,0,0,.35); /*Una pequeña sombra con opacidad de .35*/
}

.main .acerca-de .foto img {
	vertical-align: top;
	width: 100%;
}

.main .acerca-de article {
	background: #fff; /*Color de fondo blanco*/
	padding: 40px;
	width: 50%;
	position: relative;/*Nos va a permitir manipular la posicion de nuestro cuadro "acerca de"*/
	top: 150px;
	z-index: 1;/*Por que arriba en nuestra foto le pusimos 0, la foto estara debajo del article*/
	float: right; /*Para que flote hacia la derecha*/
	box-shadow: 0px 0px 15px rgba(0,0,0,.35);
}

.main .acerca-de article h3 {
	font-size: 50px;
	font-weight: 300;/*La fuente light*/
	margin-bottom: 40px;
}

.main .acerca-de article p {
	line-height: 28px; /*Para que haya un espaciado entre cada linea*/
	margin-bottom: 15px;
}	

.main .menu {
	padding-top: 570px;/*Es el espacio entre el titulo MENU y la imagen de Header*/
	padding-bottom: 50px; /*Para separar el menu de la galería*/
}

.main .menu .titulo {/*Trabajamos con la fuente del titulo*/
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.main .menu .contenedor-menu,
.main .menu .contenedor-menu2 {/*Al hacer esto creamos nuestros bordes de menu*/
	border: 1px solid #000; /*Se va a crear un borde de color negro*/
	background: transparent;
	padding: 10px;
	overflow: hidden; /*Para que el contenido sobrante lo oculte*/	
}

.main .menu article { /*Dividir el menú en 2*/
	width: 50%;
	float: left;
	padding: 20px;
}

.main .menu .categoria {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
}

.main .menu .platillo { /*Pone un borde de puntitos y si el texto se pasa, lo oculta para que no afetcte el diseño*/
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: dotted #000;
	overflow: hidden;
}

.main .menu .nombre { /*Hace que el nombre este a la izquierda y el precio a la derecha*/
	font-size: 20px;
	margin-bottom: 15px;
	float: left;
}

.main .menu .precio { /*Lo mismo que arriba pero el precio hacia el lado derecho*/
	font-size: 20px;
	margin-bottom: 15px;
	float: right;
}

.main .menu .descripcion {
	font-size: 16px;
	color: #676767; /*Color gris que opaca la descripción*/
	clear: both; /*Soluciona los problemas de los float left y float right*/
}

.main .galeria {
	overflow: hidden; /*La galería la vay a trabajar con float*/
}

.main .galeria .foto {
	width: 25%;
	float: left; /*Para que las fotos se pongan una al lado del otro*/
}

.main .galeria .foto img{
	width: 100%;/*Para que abarque todo el 25% que le pusimos arriba*/
	vertical-align: top;
	opacity: .7;
}

.main .galeria .foto img:hover{ /*Pones -transition y te aparece todo el webkit para que se vea bien en todos los navegadores*/
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.main .ubicacion {
	background: #fff;
	padding: 60px 0;
	overflow: hidden;/*Para evitar el problema de los float que podamos tener*/
}

.main .ubicacion .titulo {
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 40px;
}

.main .ubicacion .direccion {
	float: left;
	width: 50%;
	text-align: left;	
}

.main .ubicacion .horarios {
	float: right;
	width: 50%;
	text-align: center;
	overflow: hidden;	
}

.main .ubicacion .direccion .calle {
	margin-bottom: 15px;
}

.main .ubicacion .direccion h4 {
	text-align: center;
	margin-bottom: 20px;
}

.main .ubicacion .horarios .entre-semana,
.main .ubicacion .horarios .fin-semana {
	width: 50%;
	float: left;
	text-align: center;
}

.main .mapa {
	width: 100%;
	overflow: hidden;
}

.main .mapa iframe { /*El iframe es el codigo de nuestro mapa*/
	width: 100%;
	max-height: 600px;
}

/* ----- ----- FOOTER ----- -----*/
footer {
	background: #000;
}

footer .copyright {
	text-align: center;
	padding: 15px 0;
	color: #fff;
}

/* ---- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 800px) { /*En responsive no debe haber pharallas*/
	header .contenedor {
		position: static; /*Cambiamos la posicion absoluta que se tenía pro una estatica*/
		height: auto;
	}

	header .textos {
		position: static;
		margin: 100px 0;
	}

	header .menu {
		text-align: center;
	}
	
	header .menu a {
		margin: 10px 20px;
	}

	header .textos .nombre {
		font-size: 30px;
	}

	.main .acerca-de .foto {
		width: 100%;
		position: relative;
	}

	.main .acerca-de article {
		position: relative;
		width: 100%;
		top: -50px;
		transform: translate(0px, 0);
	}
	
	.main .menu {
		padding-top: 300px;
	}

	.main .menu article { /*El "acerca de" lo pone pegado a la imagen*/
		width: 100%;
	}
	
	.main .galeria .foto { /*Pone 2 fotos juntas en vez de 4*/
		width: 50%;
	}

	.main .mapa {
		width: 80%;
		margin: auto;
	}
}

@media screen and (max-width: 400px) {
	.main .acerca-de article h3 {
		font-size: 34px;
	}
	.main .menu article .nombre,
	.main .menu article .precio {
		font-size: 16px;
		text-align: center; 
	}

	.main .ubicacion .direccion {
		margin-bottom: 15px;
	}

	.main .ubicacion .direccion,
	.main .ubicacion .horarios {
		width: 100%;
		text-align: center;
	}
}